<h1 class="mb-4">Relatórios</h1>

<!-- cada botão leva para um relatório diferente -->
<div class="d-flex gap-3 flex-wrap">
    <a href="/produto/relatorioProdutosMaisVendidos" class="btn btn-success">
        Produtos que Mais Saem
    </a>
    <a href="/produto/relatorioEstoqueBaixo" class="btn btn-warning">
        Estoque Baixo
    </a>
    <a href="/produto/relatorioHistoricoPorProduto" class="btn btn-info">
        Histórico por Produto
    </a>
</div>

<!-- botão voltar para a lista de produtos -->
<a href="/produto/index" class="btn btn-secondary mt-4">Voltar</a>