<h2>Usuários</h2>

<table class="table table-bordered">
    <tr>
        <th>Nome</th>
        <th>Login</th>
        <th>Ações</th>
    </tr>
    
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Nome</td>
            <td>@u.Login</td>
            <td>
                <a href="/Usuario/Delete/@u.Id" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
    }
</table>

<a href="/Produto/Index" class="btn btn-secondary" 
   style="position: fixed; bottom: 20px; left: 20px;">
    Voltar
</a>